<%- include('../partials/header',{}) %>

<div>
    <img class="userImg" src="<%= user.avatarUrl %>">
</div>

<div class="userFriends">
    <img src="<%= friends[0].avatarUrl %> ">
    <img src="<%= friends[1].avatarUrl%> ">
    <img src="<%= friends[2].avatarUrl%> ">


</div>



<%- include('../partials/footer',{}) %>