<%- include('../partials/header',{}) %>
<%- include('../partials/navBar',{}) %>


<div class="mainPage">

    <div class="coverImg">
        <img class="userImg" src="<%= user.avatarUrl %>">
    </div>

    <div class="lookFriends">
            Looking for some new friends?
            <h6>Click To Add</h6>
    </div>

        <!-- ----------- -->

    
        <% friends.forEach(friend => { %>
    <span class="eachImg"><%= friend.name %>
     </span>

    <a class="suggestedImg" href="/user/add/<%=friend.id %>">
        <img class="friendsImg" src="<%= friend.avatarUrl %> ">
    </a>

        <!-- -------- -->

        <% }); %>


  





<%- include('../partials/footer',{}) %>