<%- include('../partials/header',{}) %>

<div class="mainPage">

    <div class="coverImg">
        <h1> Add someone you may know by clicking on their profile!</h1>
        <img class="userImg" src="<%= user.avatarUrl %>">
    </div>
    <div class="userFriends">
        <!-- ----------- -->
        <% friends.forEach(friend => { %>
            <a href="/user/<%=friend.id %>">
                <img class="friendImage" src="<%= friend.avatarUrl %> ">
            </a>
            <!-- -------- -->
       <% }); %> 
     

    </div>

</div>



<%- include('../partials/footer',{}) %>